<div class="np-cmp-wrapper {{component.type}} " ng-controller="npQuizSummaryController as npSummary">

  <div ng-show="npSummary.isPassing" ng-cloak>
    Congratulations, you passed with a score of {{ npSummary.score | number:0 }}%!

    <div ng-show="npSummary.badgeEarned">For being a high-scorer, you earned a badge! (Can someone bring them a badge?)</div>
  </div>
  <div ng-show="!npSummary.isPassing" ng-cloak>
    Sorry, you did not pass - you needed a score of {{ npSummary.minScore | number:0 }}% and you only scored {{ npSummary.score | number:0 }}%.
  </div>
</div>
