<div class="{{component.type}} " ng-controller="npVideoController as npVideo" id="{{npVideo.id}}">
    <div class="debug">
        <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
    </div>
    <video  id="the-video" class="img-responsive" preload="{{preload}}" poster="{{poster}}" controls="controls" autoplay="false">
        <source ng-src="{{videoUrl}}" ng-type="{{videoType}}" >
    </video>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>