<np-video component="component" class="{{component.type}}" id="{{component.data.id}}">

  <div class="debug">
    <h3>{{component.type}} --
      <small>{{component.idx}}</small>
    </h3>
  </div>

  <video
    height="{{component.data.height}}"
    width="{{component.data.width}}"
    poster="{{component.data.poster}}"
    preload="{{component.data.preload}}"
    ng-src="{{component.data.src}}"
    controls="controls"
    mediaelelement>


    <source ng-repeat="source in npVideo.sources" type="video/{{source.type}}" ng-src="{{source.src}}" />

    <object width="{{component.data.width}}" height="{{component.data.height}}" type="application/x-shockwave-flash"
            data="scripts/component/npVideo/mediaelement/flashmediaelement.swf">
      <param name="movie" value="scripts/component/npVideo/mediaelement/flashmediaelement.swf"/>
      <param name="flashvars" value="controls=true&file={{component.data.baseURL}}.mp4"/>
      <param name="allowfullscreen" value="false"/>
    </object>
  </video>

  <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</np-video>
