/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*main bootstrap override classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.debug,
.hide {
    display: none;
}
.np-bs strong, b{
    /*font-family: $font-family-sans-serif_head;*/
}
svg {
    width: 100%;
    height:100%;
}
img.blur {
    width:367; 
    height:459px; 
    filter: url(blur.svg#blur); 
    /*-webkit-filter: blur(3px);*/ 
    filter: blur(3px); 
}
.inset-shadow {
    /*    width:367; 
        height:459px; */
    filter: url(styles/inset-shadow.svg#inset-shadow); 
    /*    -webkit-filter: blur(3px); 
        filter: blur(3px); */
}
/*.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}*/
.vertical-align {
    display: flex;
    flex-direction: row;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center; /* Optional, to align inner items 
                                horizontally inside the column */
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Angular UI classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Button overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.btn {     
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px; 
    margin-bottom: 10px;
    min-width: 20%;
    width:100%;
}
.btn-favorite { 
    margin-top: 5px; 
    margin-bottom: 10px;

}
.np_btn-info { 
    margin-top: 5px; 
    margin-bottom: 10px;
    display: none;
}
.glyphicon-heart-empty{
    /*color: $brand-info;*/
}
.icon {
    background-image: url(../assets/svgs/heart-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25%;
    background-origin: content-box ;
    padding-left: 16px; /* Or size of icon + spacing */
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'outside-padding'*/
.np_outside-padding{
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 35px;
}
/*When setting this class for New Player use: 'inside-padding'*/
.np_inside-padding{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;
}
/*When setting this class for New Player use: 'button-padding'*/
.np_button-padding{
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*responsive padding overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*.container{*/
/*background-color: #000000;*/
/*position: absolute;*/
/*    background: url(./assets/images/OrionsHeart.jpg) no-repeat center center fixed;
    background-color: #000000;
    background-size: cover;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;*/
/*z-index: -2;*/
/*}*/
/*@media (max-width: $screen-sm) {
    .np_outside-padding{
        padding: 0px;
    }
    .np_inside-padding{
        padding: 5%;
    }
    .np_button-padding{
        padding: 5%;
    }
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Sans font overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*.sans-head{
    font-family: $font-family-sans-serif_head !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: solid 1px;
    border-bottom-color: $brand-lightgrey;
    padding-top: 40px;
    padding-bottom: 3px;
    display: inline-block;
}*/

/*@media (max-width: $screen-sm) {
    .collapse-toggle{
        background-color: $brand-offwhite;
        cursor: pointer;
        width: 100%;
        border-bottom: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 7px;
        padding-left: 7px;
        &:hover,
            &:focus {
            background-color: darken($brand-offwhite, 5%);
        }
        &:before {
            font-family: 'elx-icons';
            content: "\e613";
            float: right;
            color: $brand-primary;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
    }
}*/
/*.np_inside-padding .sans-head{
    border-bottom-color: $brand-primary-light;
}
.sans-head-sub{
    font-family: $font-family-sans-serif_head;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 3px;
}
.sans-normal{
    font-family: $font-family-sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 130%;
}
.sans-small{
    font-family: $font-family-sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 130%;
    font-size: $font-size-small;
    p{
        padding-bottom: 10px;
    }
}*/
/*@media (max-width: $screen-sm) {
    .sans-normal{
        padding-right: 7px;
        padding-left: 7px;
    }
    .sans-small{
        padding-right: 7px;
        padding-left: 7px;
    }
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player background color wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'background-brand-primary-light'*/
/*.np_background-brand-primary-light{
    background-color: $brand-primary-light;
}*/
/*When setting this class for New Player use: 'background-brand-offwhite' */
/*.np_background-brand-offwhite{
    background-color: $brand-offwhite;
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* text treatment classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Q and A text outdent*/
/*.q-and-a-outdent{
    text-indent:-28px;
    margin-left:28px
}*/

/*////////////////////////////////////////////////////////////////////////////////*/
/*.browsehappy {
    display: none;
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}*/

