

/*$body-bg:               $brand-offwhite !default;*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*page type background classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*When setting this ID for New Player use: 'newplayer-background'*/
#np_newplayer-background{
    position: absolute;
    background-color: $brand-offwhite;
    background-size: cover;
    position:fixed;
    content: "";
    width:100%;
    height:auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /*z-index: -1;*/
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player background color wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'background-brand-primary-light'*/
.np_background-brand-primary-light{
    background-color: $brand-primary-light;
}
/*When setting this class for New Player use: 'background-brand-offwhite' */
.np_background-brand-offwhite{
    background-color: $brand-offwhite;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Sans font overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.sans-head{
    font-family: $font-family-sans-serif_head;
    text-transform: uppercase;
    border-bottom: solid 1px;
    border-bottom-color: $brand-lightgrey;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 3px;
    display: inline-block;
}
.np_inside-padding .sans-head{
    border-bottom-color: $brand-primary-light;
}
/*#background-image { 
    position: absolute;
    background: none;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}*/
/*#products { 
    position: absolute;
    background-color: $brand-offwhite;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}*/

/*$top-image: margin-left:-100px;*/
.topImage{
    margin-left:-75px;
}
@media (max-width: $screen-sm) {
    .topImage{
        margin-left:0;
    }
    .sans-head{
        font-family: $font-family-sans-serif_head;
        text-transform: uppercase;
        border-bottom: none;
        letter-spacing: 2px;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin-top: 0;
        display: inline-block;
    }
}
/*Q and A text outdent*/
.q-and-a-outdent{
    text-indent:-28px;
    margin-left:28px
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Collapse responsive*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
@media (max-width: $screen-sm) {
    .collapse-toggle{
        background-color: $brand-offwhite;
        cursor: pointer;
        width: 100%;
        border-bottom: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 7px;
        padding-left: 7px;
        &:hover,
            &:focus {
            background-color: darken($brand-offwhite, 5%);
        }
        &:before {
            font-family: 'elx-icons';
            content: "\e613";
            float: right;
            color: $brand-primary;
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }
    }
}