

/*$body-bg:               $brand-offwhite !default;*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*page type background classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*When setting this ID for New Player Re Nutriv use: 'products'*/
#np_products #np_products-background{
    position: absolute;
    background-color: $brand-offwhite;
    background-size: cover;
    background-attachment: local ; /*|fixed|local*/
    content: "";
    width:100%;
    height:100vh;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player background color wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'background-brand-primary-light'*/
#np_products .np_background-brand-primary-light{
    background-color: $brand-primary-light;
}
/*When setting this class for New Player use: 'background-brand-offwhite' */
#np_products .np_background-brand-offwhite{
    background-color: $brand-offwhite;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Sans font overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_products .sans-head{
    font-family: $font-family-sans-serif_head !important;
    text-transform: uppercase;
    border-bottom: solid 1px;
    border-bottom-color: $brand-lightgrey;
    letter-spacing: 2px;
    padding-top: 40px;
    padding-bottom: 3px;
    display: inline-block;
}
#np_products .np_inside-padding .sans-head{
    border-bottom-color: $brand-primary-light;
}
/*#background-image { 
    position: absolute;
    background: none;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}*/
/*#products { 
    position: absolute;
    background-color: $brand-offwhite;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}*/

/*$top-image: margin-left:-100px;*/
#np_products .topImage{
    margin-left:-75px;
}
@media (max-width: $screen-sm) {
    #np_products .topImage{
        margin-left:-10px;
    }
}