

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player page type wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this ID for New Player use: 'newplayer-background'*/
#np_reNutriv #np_newplayer-background{
    position: absolute;
    background-color: #000000;
    background-size: cover;
    position:fixed;
    content: "";
    width:100%;
    height:auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}
#np_reNutriv #renutriv-background-image {
    position:fixed;
    background-image: url('/assets/images/ESTL-005_ReNutriv_bg_img.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size:50%;
    width:100%;
    height:100%;
}
#np_reNutriv .renutriv-logo-image {
    position: relative;
    background-image: url("/assets/images/ReNutrivLogoSm.png");
    background-repeat: no-repeat;
    width: 133px;
    height: 35px;
    padding-bottom: 11px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*ReNutriv font classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .headline{
    font-family: $re-nu-serif;
    color: $brand-primary-light;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}
#np_reNutriv .instructional{
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
    /*margin-bottom: 0px;*/
    display: inline-block;
}
#np_reNutriv h1, h2, h3, h4, h5{
    color: $brand-primary-light;
}
#np_reNutriv p{
    color: $brand-primary-light;
}
#np_reNutriv small{
    color: $brand-primary-light;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this ID for New Player use: content-background */
/*#np_reNutriv .npHotspot-feedback p{
    position: relative;
    height: 100%;

}*/
#np_reNutriv .content-background{
    /*    position: absolute;
    left: 10px;
    right: 20px;*/
    background-color:hsla(0,100%,0%,0.5);
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player HotSpot classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .npHotspot{
    top: 0;
    left: 0;
}
#np_reNutriv .hotspotImage{
    position: relative;
    max-width: 575px;
    margin-bottom: 10%;
    /*overflow: hidden;*/
}
#np_reNutriv .content-area{
    /*padding-left: 10px;*/
}
#np_reNutriv .hotspotButton{
    position: absolute;
    max-width:90px;
    height: auto;
    margin: 0;
    margin-top: -.75rem;
    margin-left: -3.25rem;
    padding: 0;
    cursor: pointer;
}
#np_reNutriv .hotspotButtonImage{
    position: relative;
    background-image: url("/assets/images/hotspot.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

#np_reNutriv .npHotspot-feedback{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 20px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player Drag and Drop match classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .column-no-wrap {
    float: none;
}
#np_reNutriv .boxElements {
    position:relative;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: left;
    color: white;
    margin-bottom: 2.5%;
    box-shadow: inset 0px 0px 40px 5px rgba(0,0,0,0.75);
}
#np_reNutriv .boxElements svg{
    /*fill:#313131;*/
}
#np_reNutriv .completeCheck {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: left;
    color: white;
    margin-bottom: 2.5%;
}
#np_reNutriv foreignobject{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
#np_reNutriv .button-completion-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 5%;
}
#np_reNutriv .positive-feedback-content{
    position: absolute;
    top: 35%;
    left: 50%;
}
#np_reNutriv .positive-feedback-image{
    position: absolute;
    margin: auto;
    top: 0; 
    left: 40%;
    bottom: 0;
    background-image: url("/assets/svgs/feedback-correct-icon-ReNutriv.svg");
    background-repeat: no-repeat;
    width:40px; 
    height:40px; 
    border: 0;
    background-size: 100%; /* To fill the dimensions of container (button), or */
    background-size: 40px auto; /* to specify dimensions explicitly */
}
#np_reNutriv .button-content{
    position: relative;
    padding: 5%;
}
#np_reNutriv rect{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
#np_reNutriv .button-content p{
    padding: 0;
    margin: 0;
}
#np_reNutriv .draggableButton{
    cursor: pointer;
}
#np_reNutriv .draggableButtonsvg{
    fill:#000000;
}
#np_reNutriv .hit-area{
    position: relative;
    width: 100%;
    height: 100%;
}
#np_reNutriv .hit-area svg{
    fill:#313131;
}
#np_reNutriv .hit-area rect{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: 0;
    padding: 0;
    opacity: .90;
}
.posB{
    left: 6.25%;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Hotspot button top position classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'outside-padding'*/
/*.np_outside-padding{
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 35px;
}*/
/*When setting this class for New Player use: 'inside-padding'*/
/*.np_inside-padding{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;
}*/
/*When setting this class for New Player use: 'button-padding'*/
/*.np_button-padding{
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
}*/
/*$top-image: margin-left:-100px;*/
/*.topImage{
    margin-left:-75px;
}
@media (max-width: $screen-sm) {
    .topImage{
        margin-left:-10px;
    }
}*/


