

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player page type wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this ID for New Player use: 'newplayer-background'*/
#np_reNutriv #np_newplayer-background{
    position: absolute;
    background-color: #000000;
    background-size: cover;
    position:fixed;
    content: "";
    width:100%;
    height:auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}
#np_reNutriv #renutriv-background-image {
    position:fixed;
    background-image: url('/assets/images/ESTL-005_ReNutriv_bg_img.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size:50%;
    width:100%;
    height:100%;
}
#np_reNutriv .renutriv-logo-image {
    position: relative;
    background-image: url("/assets/images/ReNutrivLogoSm.png");
    background-repeat: no-repeat;
    width: 133px;
    height: 35px;
    padding-bottom: 11px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*ReNutriv font classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .headline{
    font-family: $re-nu-serif;
    color: $brand-primary-light;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}
#np_reNutriv .instructional{
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
    /*margin-bottom: 0px;*/
    display: inline-block;
}
#np_reNutriv h1, h2, h3, h4, h5{
    color: $brand-primary-light;
}
#np_reNutriv p{
    color: $brand-primary-light;
}
#np_reNutriv small{
    color: $brand-primary-light;
}
#np_reNutriv .dark h1, h2, h3, h4, h5 {
    color: $gray-dark;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this ID for New Player use: content-background */
/*#np_reNutriv .npHotspot-feedback p{
    position: relative;
    height: 100%;

}*/
#np_reNutriv .content-background{
    /*    position: absolute;
    left: 10px;
    right: 20px;*/
    background-color:hsla(0,100%,0%,0.5);
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player HotSpot classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .npHotspot{
    top: 0;
    left: 0;
}
#np_reNutriv .hotspotImage{
    position: relative;
    max-width: 575px;
    margin-bottom: 10%;
    /*overflow: hidden;*/
}
#np_reNutriv .content-area{
    /*padding-left: 10px;*/
}
#np_reNutriv .hotspotButton{
    position: absolute;
    max-width:90px;
    height: auto;
    margin: 0;
    margin-top: -.75rem;
    margin-left: -3.25rem;
    padding: 0;
    cursor: pointer;
}
#np_reNutriv .hotspotButtonImage{
    position: relative;
    background-image: url("/assets/images/hotspot.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
}

#np_reNutriv .npHotspot-feedback{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 20px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player List classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .list-item{
    
}
#np_reNutriv .column-1{
    margin-bottom: 1.5%;
}
#np_reNutriv .list-object video{
    width: 100%;
    height: auto;
}
#np_reNutriv .media-body{
/*    width: 100%;
    height: auto;*/
    padding: 5%;
    background-color: #000000;
    opacity: 0.75;
    filter: url(styles/inset-shadow.svg#inset-shadow); 
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player Drag and Drop Prioritize classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .button-prioritize-content{
    position: relative;
    display:block;
}
#np_reNutriv .hit-area-prioritize-content{
    position: absolute;
    float: right;
    right: 43%;
    top: 43%;
}
#np_reNutriv .hit-area-number{
    font-size: 7em;
    color: #000000;
    opacity: .15;
    text-align: center;
    padding-left: 20px;
}
#np_reNutriv .button-completion-prioritize-content{
    position: absolute;
    float: right;
    right: 50%;
    top: 36%;
}
#np_reNutriv .centered-prioritize-content{
    width: 100%;
    height: 100%;
    float: right;
    right: -50%;
    position: relative;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player Drag and Drop match classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .column-no-wrap {
    float: none;
}
#np_reNutriv .boxElements {
    position:relative;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: left;
    color: white;
    margin-bottom: 1.5%;
}
#np_reNutriv .hit-area-background {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: -1;
    background-color: #313131;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.65);
}
#np_reNutriv .boxElements svg{
    /*fill:#313131;*/
}
#np_reNutriv .completeCheck {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: left;
    color: white;
    margin-bottom: 2.5%;
}
#np_reNutriv foreignobject{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
#np_reNutriv .button-completion-content{
    position: absolute;
    float: right;
    right: 50%;
    top: 43%;
}
#np_reNutriv .centered-content{
    width: 100%;
    height: 100%;
    float: right;
    right: -50%;
    position: relative;
}
.positive-feedback-image, .positive-feedback-content{
    float: left;
    line-height: 1em;
    padding-left: 5%;
}
#np_reNutriv .positive-feedback-content{
    width: auto;
}
#np_reNutriv .positive-feedback-image{
    background-image: url("/assets/svgs/feedback-correct-icon-ReNutriv.svg");
    background-repeat: no-repeat;
    width:40px; 
    height:40px; 
    border: 0;
    background-size: 100%; /* To fill the dimensions of container (button), or */
    background-size: 40px auto; /* to specify dimensions explicitly */
}
#np_reNutriv .button-content{
    position: relative;
    padding: 5%;
}
#np_reNutriv rect{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
#np_reNutriv .button-content p{
    padding: 0;
    margin: 0;
}
#np_reNutriv .draggableButton{
    cursor: pointer;
}
#np_reNutriv .draggableButtonsvg{
    /*fill:#000000;*/
}
#np_reNutriv .hit-area{
    position: relative;
    width: 100%;
    height: 100%;
}
#np_reNutriv .hit-area svg{
    /*fill: #313131;*/
}
#np_reNutriv .hit-area rect{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: 0;
    padding: 0;
    opacity: .90;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Hotspot Grid */
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Hotspot button left position classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.posA{
    left: 0%;
}
.posB{
    left: 6.25%;
}
.posC{
    left: 12.50%;
}
.posD{
    left: 18.75%;
}
.posE{
    left: 25%;
}
.posF{
    left: 31.25%;
}
.posG{
    left: 37.5%;
}
.posH{
    left: 43.75%;
}
.posI{
    left: 50%;
}
.posJ{
    left: 56.25%;
}
.posK{
    left: 62.5%;
}
.posL{
    left: 68.75%;
}
.posM{
    left: 75%;
}
.posN{
    left: 81.25%;
}
.posO{
    left: 87.5%;
}
.posP{
    left: 93.75%;
}
.posQ{
    left: 100%;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Hotspot button top position classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.pos1{
    top: 0%;
}
.pos2{
    top: 5.26%;
}
.pos3{
    top: 10.52%;
}
.pos4{
    top: 15.78%;
}
.pos5{
    top: 21.05%;
}
.pos6{
    top: 26.31%;
}
.pos7{
    top: 31.57%;
}
.pos8{
    top: 36.84%;
}
.pos9{
    top: 42.10%;
}
.pos10{
    top: 47.36%;
}
.pos11{
    top: 52.63%;
}
.pos12{
    top: 57.89%;
}
.pos13{
    top: 63.15%;
}
.pos14{
    top: 68.42%;
}
.pos15{
    top: 73.68%;
}
.pos16{
    top: 78.94%;
}
.pos17{
    top: 84.21%;
}
.pos18{
    top: 89.47%;
}
.pos19{
    top: 94.73%;
}
.pos20{
    top: 100%;
}
