

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player page type wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this ID for New Player Re Nutriv use: 'reNutriv'*/
#np_reNutriv #np_renutriv-background{
    position: absolute;
    background-color: #000000;
    background-size: cover;
    background-attachment: local;
    content: "";
    width:100%;
    height:2600px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}
#np_reNutriv #renutriv-background-image { 
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    z-index: -1;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*ReNutriv font classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .headline{
    font-family: $re-nu-serif;
    color: $brand-primary-light;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
}
#np_reNutriv .instructional{
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 0px;
    /*margin-bottom: 0px;*/
    display: inline-block;
}
#np_reNutriv h1, h2, h3, h4, h5{
    color: $brand-primary-light;
}
#np_reNutriv p{
    color: $brand-primary-light;
}
#np_reNutriv small{
    color: $brand-primary-light;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .npHotspot-feedback{
    background-color: #000000;
    opacity: .9;
    padding: 10px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#np_reNutriv .hotspotButton{
    margin: 0; 
    margin-top: -.75rem;
    margin-left: -3.25rem;
}
#np_reNutriv .hotspotImage{
    
}
#np_reNutriv .hotspotButtonImage{
    
}
#np_reNutriv .npHotspot-feedback{
    border-style: solid;
    border-color: #css-gradients2;
    margin-top: 10%;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'outside-padding'*/
/*.np_outside-padding{
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 35px;
}*/
/*When setting this class for New Player use: 'inside-padding'*/
/*.np_inside-padding{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;
}*/
/*When setting this class for New Player use: 'button-padding'*/
/*.np_button-padding{
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
}*/
/*$top-image: margin-left:-100px;*/
/*.topImage{
    margin-left:-75px;
}
@media (max-width: $screen-sm) {
    .topImage{
        margin-left:-10px;
    }
}*/



