// bower:scss
// endbower
/*@import "bootstrap-sass/assets/stylesheets/_bootstrap";*/
/*@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";*/
@import "_bootstrap.scss";
/*@import "_variables";*/
/*@import "/Users/xian/Documents/NewPlayer/newplayer/bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";*/
/*@import "_collapse";*/
/*@import "_theme";*/

/*////////////////////////////////////////////////////////////////////////////////*/
/*content offset for fixed nav*/
/*body { 
    padding-top: 180px; 
}
body { 
    padding-bottom: 80px; 
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*background support classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*#background-gradient { 
    position: absolute;
    background: rgba(169,3,41,1);
    background-size: cover;
    background-attachment: scroll;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}*/


strong, b{
    font-family: $font-family-sans-serif_head;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Angular UI classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Button overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*button vertical spacing*/
/*button widths*/
.btn {     
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 5px; 
    margin-bottom: 10px;
    min-width: 20%;
    width:100%;
}
.btn-favorite { 
    margin-top: 5px; 
    margin-bottom: 10px;

}
.glyphicon-heart-empty{
    color: $brand-info;
}
.icon {
    background-image: url(../assets/svgs/heart-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 25%;
    background-origin: content-box ;
    padding-left: 16px; /* Or size of icon + spacing */
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player padding wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'outside-padding'*/
.np_outside-padding{
    padding-top: 35px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 35px;
}
/*When setting this class for New Player use: 'inside-padding'*/
.np_inside-padding{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 35px;
}
/*When setting this class for New Player use: 'button-padding'*/
.np_button-padding{
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*responsive padding overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.container{
    /*background-color: #000000;*/
    /*position: absolute;*/
    /*    background: url(./assets/images/OrionsHeart.jpg) no-repeat center center fixed;
        background-color: #000000;
        background-size: cover;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;*/
    /*z-index: -2;*/
}
@media (max-width: $screen-sm) {
    .np_outside-padding{
        padding: 0px;
    }
    .np_inside-padding{
        padding: 5%;
    }
    .np_button-padding{
        padding: 5%;
    }
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Sans font overrides*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*.sans-head{
    font-family: $font-family-sans-serif_head !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: solid 1px;
    border-bottom-color: $brand-lightgrey;
    padding-top: 40px;
    padding-bottom: 3px;
    display: inline-block;
}*/

@media (max-width: $screen-sm) {
    .collapse-toggle{
        background-color: $brand-offwhite;
        cursor: pointer;
        width: 100%;
        border-bottom: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 7px;
        padding-left: 7px;
        &:hover,
            &:focus {
            /*background-color: darken($brand-offwhite, 5%);*/
        }
        &:before {
            font-family: 'elx-icons';
            content: "\e613";
            float: right;
            color: $brand-primary;
            /*            -webkit-transition: opacity 1s ease-in-out;
                        -moz-transition: opacity 1s ease-in-out;
                        -o-transition: opacity 1s ease-in-out;*/
            transition: opacity 1s ease-in-out;
        }
    }
}
.np_inside-padding .sans-head{
    border-bottom-color: $brand-primary-light;
}
.sans-head-sub{
    font-family: $font-family-sans-serif_head;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 3px;
}
.sans-normal{
    font-family: $font-family-sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 130%;
}
.sans-small{
    font-family: $font-family-sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    line-height: 130%;
    font-size: $font-size-small;
    p{
        padding-bottom: 10px;
    }
}
/*@media (max-width: $screen-sm) {
    .sans-normal{
        padding-right: 7px;
        padding-left: 7px;
    }
    .sans-small{
        padding-right: 7px;
        padding-left: 7px;
    }
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*New Player background color wrapper classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*When setting this class for New Player use: 'background-brand-primary-light'*/
/*.np_background-brand-primary-light{
    background-color: $brand-primary-light;
}*/
/*When setting this class for New Player use: 'background-brand-offwhite' */
/*.np_background-brand-offwhite{
    background-color: $brand-offwhite;
}*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* text treatment classes*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*Q and A text outdent*/
.q-and-a-outdent{
    text-indent:-28px;
    margin-left:28px
}


/*////////////////////////////////////////////////////////////////////////////////*/
.browsehappy {
    display: none;
    background: #ccc;
    color: #000;
    margin: 0.2em 0;
    padding: 0.2em 0;
}


.debug,
.hide {
    display: none;
}

/*#background-image { 
    position: absolute;
    background: url(../../images/IMG_1423.JPG) no-repeat center center fixed;
    background: url(../../images/IMG_1448.JPG) no-repeat center center fixed;
    background: url(../../images/IMG_1466_w1920.jpg) no-repeat center center fixed;
    background: url(../../images/IMG_1469.JPG) no-repeat center center fixed;
    background: url(../../images/IMG_1658.JPG) no-repeat center center fixed;
    background: url(../../images/IMG_1969.JPG) no-repeat center center fixed;
    background: url(../../images/raven.png) no-repeat center center fixed;
    background-size: cover;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -2;
}*/



/*.container {
    margin: 0 auto;
}*/

/*#manifestWrapper {
    &.debug {
        display: block;
        .debug {
            display: block;
        }
        .np-component {
            margin: 0.5em;
            padding: 0.5em;
            border: 1px dashed red;
        }
    }
}*/

/*.npPage {
    text-align: center;
}*/

/*.npMenu {
    background: mix(black, white, 90%);
    background: rgba(black, 0.9);
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    z-index: 100;
    @include border-right-radius(20px);

    ul {
        list-style: none outside none;
        padding: 0;
        li {
            margin: 0.2em 0 0.2em 1em;
        }
        ul {
            font-size: 0.95em;
        }
    }

    .hamburger {
        color: black;
        cursor: pointer;
        position: absolute;
        top: 0.5em;
        right: -1em;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        &:hover {
            text-decoration: none;
        }
    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        &.selected:hover {
            text-decoration: none;
        }
    }

    .selected {
        cursor: default;
        text-decoration: none;
    }

    &.show {
        left: 0;

        .hamburger {
            right: 1em;
            color: white;
        }
    }
}*/

/*.npVideo {
    width: 80%;
    max-width: 640px;
    margin: 0 auto;

    * {
        outline: 0;
    }
    video {
        height: 100%;
        width: 100%;
    }
}*/

/*.npHTML {
    font-size: 16px;
    line-height: 20px;
}*/

/*.np-expandable {
        &.np-cmp-main,
        >.np-cmp-main {
                cursor: pointer;
                text-align: left;

                &:before {
                        content: "\00f054"; 
                        float: left;
                        font-family: 'FontAwesome';
                        -webkit-transition: 0.5s ease all;
                        transition: 0.5s ease all;
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                        margin: 0 0.5em 0 0;
                }
        }
        &.np-expandable-collapsed {
                .np-cmp-main:before {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                }
        }
}*/

/*.npColumn {

        .row {
                &:after {
                        content: "."; 
                        visibility: hidden; 
                        display: block; 
                        height: 0; 
                        clear: both;
                }

                &.col-1 .column {
                        width: 100%;
                }
                &.col-2 .column {
                        width: 50%;
                }
                &.col-3 .column {
                        width: 33.333333333%;
                }
                &.col-4 .column {
                        width: 25%;
                }
                &.col-5 .column {
                        width: 20%;
                }
                &.col-6 .column {
                        width: 16.666666666%;
                }
                &.col-7 .column {
                        width: 14.285714285%;
                }

                .column {
                        float: left;

                        &.col-last {
                                &:after {
                                        clear: both;
                                        content: "."; 
                                        visibility: hidden; 
                                        display: block; 
                                        height: 0; 
                                        width: 100%;
                                }
                        }

                }
        }
}*/

/*.npButton {
        background-color: #7f7f7f;
        border: none;
        @include border-top-radius(6px);
        @include border-bottom-radius(6px);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        font-size: 14px;
        line-height: 17px;
        margin: 0.3em;
        padding: 0.3em;
        text-align: center;
}*/

/*@media screen and (max-width: 320px) {
        .container {
                max-width: 305px;
        }

}*/

/*@media screen and (max-width: 767px) {
        .container {
                max-width: 420px;
        }

        .npColumn {
                .row {
                        &.col-1 .column {
                                width: 100%;
                        }
                        &.col-2 .column {
                                width: 100%;
                        }
                        &.col-3 .column {
                                width: 100%;
                        }
                        &.col-4 .column {
                                width: 100%;
                        }
                        &.col-5 .column {
                                width: 100%;
                        }
                        &.col-6 .column {
                                width: 100%;
                        }
                        &.col-7 .column {
                                width: 100%;
                        }
                        .column {
                                float: none;
                        }
                }
        }
}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
        .container {
                max-width: 730px;
        }
}*/

