// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.debug,
.hide {
	display: none;
}

.container {
	margin: 0 auto;
}

#manifestWrapper {
	&.debug {
		display: block;
		.debug {
			display: block;
		}
		.np-component {
			margin: 0.5em;
			padding: 0.5em;
			border: 1px dashed red;
		}
	}
}

.npVideo {
	video {
		height: auto;
	}
}

nav.npMenu {
	position: absolute;
	top: 0;
	right: 0;
}

.np-Column {
	&:after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}

	.column {
		float: left;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

