// bower:scss
// endbower
@import "compass-mixins/lib/compass/css3/border-radius";

.browsehappy {
	display: none;
	background: #ccc;
	color: #000;
	margin: 0.2em 0;
	padding: 0.2em 0;
}

.debug,
.hide {
	display: none;
}

.container {
	margin: 0 auto;
}

#manifestWrapper {
	&.debug {
		display: block;
		.debug {
			display: block;
		}
		.np-component {
			margin: 0.5em;
			padding: 0.5em;
			border: 1px dashed red;
		}
	}
}

.npPage {
	text-align: center;
}

.npMenu {
	background: mix(black, white, 90%);
	background: rgba(black, 0.9);
	position: absolute;
	top: 0;
	left: -50%;
	width: 50%;
	-webkit-transition: 0.5s ease all;
	transition: 0.5s ease all;
	z-index: 100;
	@include border-right-radius(20px);

	ul {
		list-style: none outside none;
		padding: 0;
		li {
			margin: 0.2em 0 0.2em 1em;
		}
		ul {
			font-size: 0.95em;
		}
	}

	.hamburger {
		color: black;
		cursor: pointer;
		position: absolute;
		top: 0.5em;
		right: -1em;
		-webkit-transition: 0.5s ease all;
		transition: 0.5s ease all;
		&:hover {
			text-decoration: none;
		}
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
		&.selected:hover {
			text-decoration: none;
		}
	}

	.selected {
		cursor: default;
		text-decoration: none;
	}

	&.show {
		left: 0;

		.hamburger {
			right: 1em;
			color: white;
		}
	}
}

.npVideo {
	width: 80%;
	max-width: 640px;
	margin: 0 auto;

	video {
		height: 100%;
		width: 100%;
	}
}

.npHTML {
	font-size: 16px;
	line-height: 20px;
}

.np-expandable {
	&.np-cmp-main,
	>.np-cmp-main {
		cursor: pointer;
		text-align: left;

		&:before {
			content: "\00f054"; 
			float: left;
			font-family: 'FontAwesome';
			-webkit-transition: 0.5s ease all;
			transition: 0.5s ease all;
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
			margin: 0 0.5em 0 0;
		}
	}
	&.np-expandable-collapsed {
		.np-cmp-main:before {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
	}
}

.npColumn {
	line-height: 0; 
	font-size: 0;

	&:after {
		content: "."; 
		visibility: hidden; 
		display: block; 
		height: 0; 
		clear: both;
	}

	.column {
		float: left;
		line-height: 0; 
		font-size: 0;

		&.col-last {
			&:after {
				content: "."; 
				visibility: hidden; 
				display: inline-block; 
				height: 0; 
				clear: both;
				width: 100%;
			}
		}
		&.col-1 {
			width: 100%;
		}
		&.col-2 {
			width: 50%;
		}
		&.col-3 {
			width: 33.333333333%;
		}
		&.col-4 {
			width: 25%;
		}
		&.col-5 {
			width: 20%;
		}
		&.col-6 {
			width: 16.666666666%;
		}
		&.col-7 {
			width: 14.285714285%;
		}

		* {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.npButton {
	background-color: #7f7f7f;
	border: none;
	@include border-radius(6px);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	font-size: 14px;
	line-height: 17px;
	margin: 0.3em;
	padding: 0.3em;
	text-align: center;
}

@media screen and (max-width: 320px) {
	.container {
		max-width: 305px;
	}

}

@media screen and (max-width: 767px) {
	.container {
		max-width: 420px;
	}

	.npColumn {
		.column {
			float: none;

			&.col-1 {
				width: 100%;
			}
			&.col-2 {
				width: 100%;
			}
			&.col-3 {
				width: 100%;
			}
			&.col-4 {
				width: 100%;
			}
			&.col-5 {
				width: 100%;
			}
			&.col-6 {
				width: 100%;
			}
			&.col-7 {
				width: 100%;
			}

		}
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}

