<section class="{{component.type}}" ng-controller="npExpandableController as npExpandable" id="{{npExpandable.id}}">

	<div class="debug">
		<h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
	</div>

	<div class="np-expand-toggle collapsed" ng-bind-html="npExpandable.content"></div>

	<div class="np-expandable" style="margin:0 !important; padding:0 !important" >
		<div
			np-component
			ng-if="subCmp"
			ng-repeat="component in components"
			idx="{{component.idx}}"
			class="expandable_content"></div>
	</div>

</section>
