
body {
	background-color: #f4f2f3;
  font-family: "Open Sans", sans-serif;
}

.npContent {
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	margin: 30px 0 0;
	padding: 16px 0 1em;
	position: relative;
	overflow: hidden;
}

#globalHeader {
	position: relative;
	height: 175px;
}

#globalHeader #btnHomeLogo {
	background: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	border: none;
	height: auto;
	margin: 1em 0 0;
	padding: 0;
	width: auto;
}

#globalHeader .menuBarTitle {
	color: white;
	background-color: #5a5a5a;
	font-size: 1.4em;
	margin: 0;
	padding: 8px 0 0 78px;
	position: absolute;
	top: 132px;
	left: 0;
	height: 32px;
	width: 100%;
}

.npMenu {
	top: 136px;
}

.npMenu .hamburger {
	background-color: rgba(0,50,80,0.5);
	color: white;
	font-size: 2.1em;
	height: 38px;
	padding: 2px 0.5em 0;
	top: 12px;
	right: -1.8em;
}

.npPage-title {
	margin: 15px 50px;
	text-align: left;
}

.npVideo,
.sixteeen-nine {
	width: 80%;
	max-width: 640px;
	margin: 0 auto;
}

#captionMain {
	margin: 15px 50px;
	text-align: left;
}

hr
{
	margin: 15px 50px;
}

#colsBtnSection {
	margin: 15px 50px;
}

.npButton {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
	color: white;
	font-size: 0.9em;
	height: 55px;
	padding: 12px 20px 12px;
	text-transform: uppercase;
}

.col-1 .npButton {
	width: 95%;
}
.col-2 .npButton {
	width: 90%;
}

#disclaimer {
	margin: 15px 50px;
	text-align: left;
}


@media screen and (max-width: 320px) {

}

@media screen and (max-width: 767px) {
	#globalHeader .npColumn .column {
		float: left;
	}
	#globalHeader .npColumn .column.col-2 {
		width: 50%;
	}

	#globalHeader #clientLogo,
	#globalHeader #btnHomeLogo {
		height: auto;
		width: 85%;
		padding: 0 5px;
	}
	#globalHeader #btnHomeLogo #logo {
		width: 100%;
	}

	.npMenu .hamburger {
		font-size: 1.1em;
		height: 28px;
		padding-top: 12px;
	}

	#clientLogo2 {
		display: none;
	}

	.npVideo {
		width: 80%;
		height: auto;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}

