<nav class="{{component.type}}" ng-class="menuStatus" ng-controller="npMenuController as npMenu" id="{{npMenu.id}}">

	<div class="debug">
		<h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
	</div>

	<a class="hamburger fa fa-bars" ng-click="menuStatus=(menuStatus==='show')?'':'show'"></a>
	<ul>
		<li ng-repeat="child in npMenu.items">
			<span np-menu menuitem="child"></span>
		</li>
	</ul>

	<div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>

</nav>
