<section id="np_matchgame" class="col-xs-12"> 
    <form class="np-cmp-wrapper {{component.type}} " ng-controller="npMatchController as npMatch" ng-submit="npMatch.evaluate()">
        <div class="debug">
            <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
        </div>
        <!--<h5 class="text-uppercase">question:</h5>-->
        <div class="npMatch-content" ng-bind-html="npMatch.content"></div>
        <!--<h5 class="text-uppercase">answers:</h5>-->
        <div np-component ng-repeat="component in components" idx="{{component.idx}}"></div>
        <div class="col-xs-12">
            <button type="submit" class="col-xs-offset-6 btn-primary">Submit</button>        
            <button id="next_button" class="btn-default" ng-click="npMatch.nextPage($event)" ng-show="npMatch.canContinue">Next</button>
        </div>
    <!--    <div class="btn btn-default">
            <input type="submit" />
        </div>-->
        <!-- <div class="npMatch-feedback question-feedback col-xs-offset-5" ng-bind-html="npMatch.feedback"></div> -->
        <div question-feedback-build class="row">
            <div  class="col-xs-12 col-md-4 col-md-offset-4 question-feedback">
                <div class="question-feedback-wrapper">
                    <div class="negative-feedback-icon" ng-class="{'bad-feedback' : npMatch.feedbackBad}">
                        <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.8px" height="22.801px" viewBox="599.8 837.1 22.8 22.801" enable-background="new 599.8 837.1 22.8 22.801" xml:space="preserve">
                            <path fill="#9A7D46" d="M611.2,859.9c-6.3,0-11.4-5.101-11.4-11.4s5.101-11.4,11.4-11.4S622.6,842.2,622.6,848.5 S617.5,859.9,611.2,859.9z M611.2,838.1c-5.7,0-10.4,4.7-10.4,10.4s4.7,10.4,10.4,10.4s10.399-4.7,10.399-10.4 S616.9,838.1,611.2,838.1z"/>
                            <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="874.293" y1="-1086.3877" x2="861.2496" y2="-1099.811" gradientTransform="matrix(1 0 0 -1 -256 -245)">
                                <stop  offset="0.1642" style="stop-color:#CAA04E"/>
                                <stop  offset="0.1698" style="stop-color:#CCA352"/>
                                <stop  offset="0.2532" style="stop-color:#E4C682"/>
                                <stop  offset="0.3167" style="stop-color:#F2DCA0"/>
                                <stop  offset="0.3527" style="stop-color:#F8E4AB"/>
                                <stop  offset="0.4062" style="stop-color:#EBD191"/>
                                <stop  offset="0.48" style="stop-color:#DDBC74"/>
                                <stop  offset="0.5532" style="stop-color:#D2AC5F"/>
                                <stop  offset="0.6249" style="stop-color:#CCA352"/>
                                <stop  offset="0.6933" style="stop-color:#CAA04E"/>
                                <stop  offset="0.7957" style="stop-color:#D5B05B"/>
                                <stop  offset="0.9955" style="stop-color:#F2DA7E"/>
                                <stop  offset="1" style="stop-color:#F3DB7F"/>
                            </linearGradient>
                            <polygon fill="url(#SVGID_1_)" points="605.8,856.5 611.2,851.2 616.5,856.5 619,854 613.7,848.7 619,843.4 616.5,840.8 611.2,846.1 605.9,840.8 603.4,843.4 608.7,848.7 603.3,854 "/>
                        </svg>
                    </div>
                    <div class="question-feedback-label" ng-bind-html="npMatch.feedback">Feedback area</div>
                </div>
            </div>
        </div>
    </form>
</section>