<div class="{{component.type}} npDragAndDropPrioritize" ng-controller="npDragAndDropPrioritizeController as npDragAndDropPrioritize" id="{{npDragAndDropPrioritize.id}}">
    <div id="draggableContainer">
        <div class="row">
            <div class="debug">
                <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
            </div>
            <div id="draggableButtons" class="col-xs-6">
                <div drag-button-prioritize ng-repeat="draggableButton in npDragAndDropPrioritize.draggableButtons" data-reference="{{$index}}"  id="id{{$index}}" ng-click="npDragAndDropPrioritize.update(draggableButton)" class="draggableButton box boxElements">
                    <svg class="completeCheck" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" preserveAspectRatio="none">
                        <style type="text/css">
                            <![CDATA[
                            .st0{fill:url(#SVGID_1_);}
                            .st1{display:inline;}
                            .st2{display:none;}
                            ]]>
                        </style>
                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="400" y2="200">
                            <stop  offset="0" style="stop-color:#CAA04C"/>
                            <stop  offset="0.3497" style="stop-color:#F8E4AA"/>
                            <stop  offset="0.638" style="stop-color:#CAA04D"/>
                            <stop  offset="0.9816" style="stop-color:#F3DB7E"/>
                        </linearGradient>
                        <rect fill="" stroke="url(#SVGID_1_)" stroke-width="3" vector-effect="non-scaling-stroke"  x="0" y="0" width="100%" height="100%"/>
                        <foreignObject x="5%" y="0" width="100%" height="100%">
                            <div class="{{draggableButton.class}} button-content">
                                <img class="draggableButtonImage" ng-src="{{draggableButton.image}}" alt="{{draggableButton.alt}}" />
                                <div class="draggableButtonContent" ng-bind-html="draggableButton.content" ></div>
                            </div>
                        </foreignObject>
                    </svg>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="hitAreaWrapper">                    
                    <div ng-repeat="draggableButton in npDragAndDropPrioritize.draggableButtons" class="{{hitArea.class}} hit-area boxElements">
                        <svg class="complete-background" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" preserveAspectRatio="none">
                            <g class="complete-background-Layer_1">
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="486.5701" y1="836.5667" x2="474.7614" y2="851.428" gradientTransform="matrix(0.9984 5.588965e-02 -5.588965e-02 0.9984 48.0441 -25.572)">
                                    <stop  offset="0.1882" style="stop-color:#CAA04E"/>
                                    <stop  offset="0.3683" style="stop-color:#FFEBC3"/>
                                    <stop  offset="0.3952" style="stop-color:#F7DFB1"/>
                                    <stop  offset="0.5063" style="stop-color:#D7B26A"/>
                                    <stop  offset="0.5581" style="stop-color:#CAA04E"/>
                                    <stop  offset="1" style="stop-color:#F3DB7F"/>
                            </g>
                            <g id="complete-background-Layer_2">
                                <rect stroke="url(#SVGID_1_)" stroke-width="3" vector-effect="non-scaling-stroke" fill="none" x="0" y="0" width="100%" height="100%"/>
                            </g>
                            <g id="complete-background-Layer_4">
                                <foreignObject  x="0" y="0" width="100%" height="100%" >
                                    <div class="button-prioritize-content">
                                        <div class="hit-area-prioritize-content hit-area-number">{{$index + 1}}</div>
                                    </div>
                                    <div class="button-completion-prioritize-content">
                                        <div class="centered-prioritize-content" >
                                            <div class="positive-feedback-image "></div>
                                            <div class="positive-feedback-content h4" ng-bind-html="positiveFeedback"></div>
                                        </div>
                                    </div>
                                </foreignObject>
                            </g>
                        </svg>
                        <div class="hit-area-background"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>