<div class="np-cmp-wrapper {{component.type}} " ng-controller="npQuestionController as npQuestion" ng-submit="npQuestion.evaluate()">
    <!--<form class="np-cmp-wrapper {{component.type}} " ng-controller="npQuestionController as npQuestion" ng-submit="npQuestion.evaluate()">-->
    <div class="debug">
        <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p class="h5 quiz-label" ng-bind-html="npQuestion.questionLabel">x</p>
            <div class="npQuestion-content question-text h4" ng-bind-html="npQuestion.content"></div>
            <p class="h5 quiz-label" ng-bind-html="npQuestion.answerLabel">x</p>
            <div np-component class="response-item" ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
        </div>
        <div class="col-sm-4">
            <div class="npQuestion-content question-image">
                <img class="img-responsive" ng-src="{{npQuestion.questionImage}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 question-submit-wrapper">
            <button type="submit" class="btn-submit btn" ng-click="npQuestion.evaluate()">
                <span ng-bind-html="npQuestion.submitLabel">x</span>
            </button>
        </div>
        <div class="col-sm-9">
            <div question-feedback-build >
                <div  class="question-feedback">
                    <div class="question-feedback-wrapper vertical-centered">
                        <div class="positive-feedback-icon absolute-vertical-center">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="139.535px" height="139.536px" viewBox="665.896 1118.26 139.535 139.536"
                                 enable-background="new 665.896 1118.26 139.535 139.536" xml:space="preserve">
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="486.9971" y1="-44.001" x2="475.1884" y2="-58.8622" gradientTransform="matrix(6.1102 0.342 0.342 -6.1102 -2188.8755 702.1841)">
                                    <stop  offset="0.1882" style="stop-color:#CAA04E"/>
                                    <stop  offset="0.3683" style="stop-color:#FFEBC3"/>
                                    <stop  offset="0.3952" style="stop-color:#F7DFB1"/>
                                    <stop  offset="0.5063" style="stop-color:#D7B26A"/>
                                    <stop  offset="0.5581" style="stop-color:#CAA04E"/>
                                    <stop  offset="1" style="stop-color:#F3DB7F"/>
                                </linearGradient>
                                <polygon fill="url(#SVGID_1_)" points="784.624,1164.16 768.712,1150.084 722.812,1203.939 695.271,1180.684 681.195,1196.596  724.648,1233.316 "/>
                                <path fill="#9A7D46" d="M735.664,1257.796c-38.556,0-69.768-31.212-69.768-69.769c0-38.556,31.212-69.768,69.768-69.768  s69.768,31.212,69.768,69.768C805.432,1226.584,774.22,1257.796,735.664,1257.796z M735.664,1124.38  c-34.884,0-63.648,28.765-63.648,63.648s28.765,63.647,63.648,63.647s63.648-28.764,63.648-63.647S770.548,1124.38,735.664,1124.38z  "/>
                            </svg>
                        </div>
                        <div class="negative-feedback-icon absolute-vertical-center">
                            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.8px" height="22.801px" viewBox="599.8 837.1 22.8 22.801" enable-background="new 599.8 837.1 22.8 22.801" xml:space="preserve">
                                <path fill="#9A7D46" d="M611.2,859.9c-6.3,0-11.4-5.101-11.4-11.4s5.101-11.4,11.4-11.4S622.6,842.2,622.6,848.5 S617.5,859.9,611.2,859.9z M611.2,838.1c-5.7,0-10.4,4.7-10.4,10.4s4.7,10.4,10.4,10.4s10.399-4.7,10.399-10.4 S616.9,838.1,611.2,838.1z"/>
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="874.293" y1="-1086.3877" x2="861.2496" y2="-1099.811" gradientTransform="matrix(1 0 0 -1 -256 -245)">
                                    <stop  offset="0.1642" style="stop-color:#CAA04E"/>
                                    <stop  offset="0.1698" style="stop-color:#CCA352"/>
                                    <stop  offset="0.2532" style="stop-color:#E4C682"/>
                                    <stop  offset="0.3167" style="stop-color:#F2DCA0"/>
                                    <stop  offset="0.3527" style="stop-color:#F8E4AB"/>
                                    <stop  offset="0.4062" style="stop-color:#EBD191"/>
                                    <stop  offset="0.48" style="stop-color:#DDBC74"/>
                                    <stop  offset="0.5532" style="stop-color:#D2AC5F"/>
                                    <stop  offset="0.6249" style="stop-color:#CCA352"/>
                                    <stop  offset="0.6933" style="stop-color:#CAA04E"/>
                                    <stop  offset="0.7957" style="stop-color:#D5B05B"/>
                                    <stop  offset="0.9955" style="stop-color:#F2DA7E"/>
                                    <stop  offset="1" style="stop-color:#F3DB7F"/>
                                </linearGradient>
                                <polygon fill="url(#SVGID_1_)" points="605.8,856.5 611.2,851.2 616.5,856.5 619,854 613.7,848.7 619,843.4 616.5,840.8 611.2,846.1 605.9,840.8 603.4,843.4 608.7,848.7 603.3,854 "/>
                            </svg>
                        </div>
                        <div class="npQuestion-feedback body-copy question-feedback-text" ng-if="npQuestion.feedback" ng-bind-html="npQuestion.feedback"></div>
                        <div class="question-feedback-label">Feedback area</div>
                    </div
                </div
            </div>
        </div>
    </div>
</div>
<!--<form class="np-cmp-wrapper {{component.type}} " ng-controller="npQuestionController as npQuestion" ng-submit="npQuestion.evaluate()">

    <div class="debug">
        <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
    </div>

    <div class="npQuestion-content" ng-bind-html="npQuestion.content"></div>

    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>

    <button type="submit" class="btn btn-primary">Submit</button>
        <div class="btn btn-default">
            <input type="submit" />
        </div>

    <div class="npQuestion-feedback" ng-if="npQuestion.feedback" ng-bind-html="npQuestion.feedback"></div>

</form>-->