<form class="np-cmp-wrapper {{component.type}} " ng-controller="npQuestionController as npQuestion" ng-submit="npQuestion.evaluate()">

    <div class="debug">
        <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
    </div>

    <div class="npQuestion-content" ng-bind-html="npQuestion.content"></div>

    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <!--    <div class="btn btn-default">
            <input type="submit" />
        </div>-->

    <div class="npQuestion-feedback" ng-if="npQuestion.feedback" ng-bind-html="npQuestion.feedback"></div>

</form>