<form class="np-cmp-wrapper {{component.type}} " ng-controller="npQuestionController as npQuestion" ng-submit="npQuestion.evaluate()">

    <div class="debug">
        <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
    </div>

    <h5 class="dark text-uppercase">question:</h5>
    <div class="npQuestion-content" ng-bind-html="npQuestion.content"></div>

	<h5 class="dark text-uppercase">answers:</h5>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
    
    <br/>
    <button type="submit" class="col-xs-3 btn-primary">Submit</button> &nbsp;
    <button class="btn-default">Next</button>
    <br/>
<!--    <div class="btn btn-default">
        <input type="submit" />
    </div>-->

    <div class="npQuestion-feedback" ng-if="npQuestion.feedback" ng-bind-html="npQuestion.feedback"></div>

</form>