<div class="debug">
    <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
</div>
<div ng-if="npQuestion.type === 'radio'" class="np-cmp-wrapper {{component.type}} radio answer-wrapper" ng-controller="npAnswerController as npAnswer">
    <div type="radio" class="npAnswer-radio np-cmp-main answer-radio" name="radio" ng-model="npQuestion.answer" value="{{component.idx}}" id="{{npAnswer.id}}" ng-click="npQuestion.changed(npAnswer.id)">
        <div class="checkbox-box">
            <svg  version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"xml:space="preserve" preserveAspectRatio="none">
                <style type="text/css">
                    <![CDATA[
                    .st0{fill:url(#SVGID_1_);}
                    .st1{display:inline;}
                    .st2{display:none;}
                    ]]>
                </style>
                <g id="Layer_2">
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0.8359" y1="0.9399" x2="367.8515" y2="221.4724">
                        <stop  offset="0" style="stop-color:#CAA04C"/>
                        <stop  offset="0.3497" style="stop-color:#F8E4AA"/>
                        <stop  offset="0.638" style="stop-color:#CAA04D"/>
                        <stop  offset="0.9816" style="stop-color:#F3DB7E"/>
                    </linearGradient>
                    <rect fill="url(#MyGradient)" stroke="url(#SVGID_1_)" vector-effect="non-scaling-stroke" stroke-width="3" x="0" y="0" width="100%" height="100%"/>
                </g>
            </svg>
        </div>
        <div class="checkbox-x">
            <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="152.99px" height="152.99px" viewBox="-305.5 396.5 152.99 152.99" overflow="inherit" xml:space="preserve">
                <polygon fill="#FFFFFF" points="-152.51,397.705 -153.715,396.5 -229.005,471.79 -304.295,396.5 -305.5,397.705 -230.21,472.995 -305.5,548.285 -304.295,549.49 -229.005,474.2 -153.715,549.49 -152.51,548.285 -227.799,472.995 "/>
            </svg>
        </div>
    </div>
    <span class="npAnswer-label answer-text p" for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label"></span>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>
<!--<div ng-if="npQuestion.type === 'radio'" class="np-cmp-wrapper {{component.type}} radio" ng-controller="npAnswerController as npAnswer">
    <label>
        <input type="radio" class="npAnswer-radio np-cmp-main " name="radio" ng-model="npQuestion.answer" value="{{component.idx}}" id="{{npAnswer.id}}_input" ng-change="npQuestion.changed()" />
        <span class="npAnswer-label answer-text-radio" for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label" ></span>
    </label>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>-->
<div ng-if="npQuestion.type === 'checkbox'" ng-checked="false"class="np-cmp-wrapper {{component.type}} checkbox answer-wrapper" ng-controller="npAnswerController as npAnswer">
    <div type="checkbox" class="npAnswer-checkbox np-cmp-main answer-checkbox" name="checkbox{{npAnswer.id}}" ng-model="npQuestion.answer[component.idx]" value="{{component.idx}}" id="{{npAnswer.id}}" ng-click="npQuestion.changed($event)">
        <div class="checkbox-box">
            <svg  version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"xml:space="preserve" preserveAspectRatio="none">
                <style type="text/css">
                    <![CDATA[
                    .st0{fill:url(#SVGID_1_);}
                    .st1{display:inline;}
                    .st2{display:none;}
                    ]]>
                </style>
                <g id="Layer_2">
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0.8359" y1="0.9399" x2="367.8515" y2="221.4724">
                        <stop  offset="0" style="stop-color:#CAA04C"/>
                        <stop  offset="0.3497" style="stop-color:#F8E4AA"/>
                        <stop  offset="0.638" style="stop-color:#CAA04D"/>
                        <stop  offset="0.9816" style="stop-color:#F3DB7E"/>
                    </linearGradient>
                    <rect fill="url(#MyGradient)" stroke="url(#SVGID_1_)" vector-effect="non-scaling-stroke" stroke-width="3" x="0" y="0" width="100%" height="100%"/>
                </g>
            </svg>
        </div>
        <div class="checkbox-x">
            <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="152.99px" height="152.99px" viewBox="-305.5 396.5 152.99 152.99" overflow="inherit" xml:space="preserve">
                <polygon fill="#FFFFFF" points="-152.51,397.705 -153.715,396.5 -229.005,471.79 -304.295,396.5 -305.5,397.705 -230.21,472.995 -305.5,548.285 -304.295,549.49 -229.005,474.2 -153.715,549.49 -152.51,548.285 -227.799,472.995 "/>
            </svg>
        </div>
    </div>
    <span class="npAnswer-label answer-text" for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label"></span>

    <!--    <div>
            <label>
                <input type="checkbox" class="npAnswer-checkbox np-cmp-main " name="checkbox{{npAnswer.id}}" ng-model="npQuestion.answer[component.idx]" value="{{component.idx}}" id="{{npAnswer.id}}_input" ng-change="npQuestion.changed()" />
                <span class="npAnswer-label" for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label"></span>
            </label>
        </div>-->
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>
<div ng-if="npQuestion.type === 'text'" class="np-cmp-wrapper {{component.type}} input-group" ng-controller="npAnswerController as npAnswer">
    <!--<label class="npAnswer-label " for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label"></label>-->
    <span class="npAnswer-label input-group-addon answer-text-input" for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label"></span>
    <input type="text" class="npAnswer-text np-cmp-main form-control answer-text-input" name="text{{npAnswer.id}}" ng-model="npQuestion.answer" value="" id="{{npAnswer.id}}_input" ng-change="npQuestion.changed()" />
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>
<div ng-if="npMatch" class="np-cmp-wrapper {{component.type}} matchbox" ng-controller="npAnswerController as npAnswer">
    <div class="slide-wrapper reveal-slide rsContent">
        <label>
            <span class="npAnswer-label" for="{{npAnswer.id}}_input" ng-bind-html="npAnswer.label"></span>
        </label>
        <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
    </div>
</div>
