<div class="{{component.type}} npDragAndDrop" ng-controller="npDragAndDropController as npDragAndDrop" id="{{npDragAndDrop.id}}">
    <div id="draggableContainer">
        <div class="row">
            <div class="col-sm-6 ">
                <div class="debug">
                    <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
                </div>
                <div drag-button ng-repeat="draggableButton in npDragAndDrop.draggableButtons">
                    <div id="{{draggableButton.id}}" class="{{draggableButton.class}} draggableButton box boxElements">
                        <img class="draggableButtonImage" ng-src="{{draggableButton.image}}" alt="{{draggableButton.alt}}" />
                        <div class="draggableButtonContent" ng-bind-html="draggableButton.content" ></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="hitArea">
                    <div ng-repeat="draggableButton in npDragAndDrop.draggableButtons">
                        <div id="{{hitArea.id}}" class="{{hitArea.class}} hit-area boxElements" >
                            <img class="hitAreaImage" ng-src="{{draggableButton.matchingImage}}" alt="{{hitArea.alt}}" />
                            <div class="hitAreaContent" ng-bind-html="draggableButton.matchingContent" ></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
   </div>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>