<section class="{{component.type}} np-cmp-wrapper npQuote" ng-controller="npHTMLController as npQuote">
    <div class="debug">
        <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
    </div>
    <div class="np-cmp-main quote-wrapper">
        <svg version="1.2" baseProfile="tiny" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 396 199" xml:space="preserve">
            <path class="speech-bubble" d="M391,0H5C2.2,0,0,2.2,0,5v175.3c0,2.8,2.2,5,5,5h276.7l7.9,13.7l7.9-13.7H391c2.8,0,5-2.2,5-5V5C396,2.2,393.8,0,391,0z"/>
            <foreignObject x="20" y="20" width="90%" height="300">
                <body xmlns="http://www.w3.org/1999/xhtml">
                    <div class="quote-icon-wrapper">
                        <svg class="quote-icon" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.5 41.8" xml:space="preserve">
                            <g>
                                <path  d="M0,25.3C0,10.1,7.2,2,21.1,0l1.7,6.9C13.3,9,10.3,15,10.9,22h8v19.7H0V25.3z M29.9,25.3 c0-15.2,7-23.3,21-25.3l1.7,6.9C43,9,40,15,40.6,22h7.8v19.7H29.9V25.3z"/>
                            </g>
                        </svg>
                    </div>
                    <div ng-bind-html="npQuote.content" class="np-cmp-main quote-body"></div>
                    <div class="quote-icon-wrapper-right">
                        <svg class="quote-icon" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-279 376.2 52.6 41.7" xml:space="preserve">
                            <g>
                                <path fill="#343434" d="M-226.4,392.6c0,15.2-7.2,23.3-21.1,25.3l-1.7-6.9c9.5-2.1,12.5-8.1,11.9-15.1h-8v-19.7h18.9V392.6z M-256.3,392.6c0,15.2-7,23.3-21,25.3l-1.7-6.9c9.6-2.1,12.6-8.1,12-15.1h-7.8v-19.7h18.5V392.6z"/>
                            </g>
                        </svg>
                    </div>
                </body>
            </foreignObject>
        </svg>
    </div>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</section>