<div class="{{component.type}} {{npHotspotButton.type}} np-cmp-main hotspotButton"  ng-controller="npHotspotButtonController as npHotspotButton" ng-click="npHotspotButton.go()">

    <span class="debug">
        {{component.type}} -- <small>{{component.idx}}</small>
    </span>

    <img class="{{component.type}} np-cmp-main hotspotButtonImage" ng-controller="npHotspotButtonController as npHotspotButton" ng-src="{{npHotspotButton.src}}" alt="{{npHotspotButton.alt}}" />

    <!--<span ng-bind-html="npHotspotButton.content"></span>-->

    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>

</div>