<div class="{{component.type}}" ng-controller="npColumnController as npColumn" id="{{npColumn.id}}">

	<div class="debug">
		<h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
	</div>

	<div
		np-component
		ng-if="subCmp"
		ng-repeat="component in components"
		idx="{{component.idx}}" data-width="{{npColumn.columnWidth}}%"
		ng-class="[
				( $index+1 > npColumn.lastRowIndex ) ? 'col-{{npColumn.lastRowColumns}}' : 'col-{{npColumn.columns}}',
				( ($index+1) % npColumn.columns === 0 ) ? 'col-last' : ''
			]"
		class="column"></div>

</div>
