<div class="{{component.type}} npDragAndDropSelect" ng-controller="npDragAndDropSelectController as npDragAndDropSelect" id="{{npDragAndDropSelect.id}}">
    <div id="draggableContainer">
        <div class="row">
            <div class="debug">
                <h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
            </div>
            <div id="draggableButtons" class="col-xs-6">
                <div drag-button-select ng-repeat="draggableButton in npDragAndDropSelect.draggableButtons" data-reference="{{$index}}" id="id{{$index}}" ng-click="npDragAndDropSelect.update(draggableButton)" class="draggableButton box boxElements">
                    <svg class="completeCheck" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" preserveAspectRatio="none">
                        <style type="text/css">
                            <![CDATA[
                            .st0{fill:url(#SVGID_1_);}
                            .st1{display:inline;}
                            .st2{display:none;}
                            ]]>
                        </style>
                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="400" y2="200">
                            <stop  offset="0" style="stop-color:#CAA04C"/>
                            <stop  offset="0.3497" style="stop-color:#F8E4AA"/>
                            <stop  offset="0.638" style="stop-color:#CAA04D"/>
                            <stop  offset="0.9816" style="stop-color:#F3DB7E"/>
                        </linearGradient>
                        <rect fill="" stroke="url(#SVGID_1_)" stroke-width="3" vector-effect="non-scaling-stroke" x="0" y="0" width="100%" height="100%"/>
                        <foreignObject x="5%" y="0" width="100%" height="100%">
                            <div class="{{draggableButton.class}} button-content">
                                <img class="draggableButtonImage" ng-src="{{draggableButton.image}}" alt="{{draggableButton.alt}}" />
                                <div class="draggableButtonContent" ng-bind-html="draggableButton.content" ></div>
                            </div>
                        </foreignObject>
                    </svg>
                </div>
            </div>
            <!--<div class="col-two">-->
            <div class="col-xs-6">
                <div id="hit-area-wrapper">        
                    <div id="select-hit-area-background"></div>            
                    <div ng-repeat="draggableButton in npDragAndDropSelect.draggableButtons" data-match="{{draggableButton.select}}" class="{{hitArea.class}} hit-area boxElements">
                        <svg class="complete-background" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" preserveAspectRatio="none">
                            <g class="complete-background-Layer_1">
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="486.5701" y1="836.5667" x2="474.7614" y2="851.428" gradientTransform="matrix(0.9984 5.588965e-02 -5.588965e-02 0.9984 48.0441 -25.572)">
                                    <stop  offset="0.1882" style="stop-color:#CAA04E"/>
                                    <stop  offset="0.3683" style="stop-color:#FFEBC3"/>
                                    <stop  offset="0.3952" style="stop-color:#F7DFB1"/>
                                    <stop  offset="0.5063" style="stop-color:#D7B26A"/>
                                    <stop  offset="0.5581" style="stop-color:#CAA04E"/>
                                    <stop  offset="1" style="stop-color:#F3DB7F"/>
                                    <defs>
                                    </defs>
                            </g>
                            <g id="complete-background-Layer_2">
                                <rect stroke="url(#SVGID_1_)" stroke-width="3" vector-effect="non-scaling-stroke" fill="none"  x="0" y="0" width="100%" height="100%"/>
                            </g>
                            <g id="complete-background-Layer_4">
                                <foreignObject  x="0" y="0" width="100%" height="100%" >
                                    <div class="select-button-completion-content">
                                        <div class="row" >
                                            <img class="feedback-draggable-button-image" ng-src="{{draggableButton.image}}" alt="{{draggableButton.alt}}" />
                                            <div class="feedback-draggable-button-content" ng-bind-html="draggableButton.content" ></div>
                                        </div>
                                    </div>
                                </foreignObject>
                            </g>
                        </svg>
                    </div>
                </div>
            </div> 
            <div np-drag-and-drop-select-evaluate class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-6">
                    <div class="select-button-wrapper">
                        <button class="btn-select-submit" is-clickable="true" ng-click="evaluate()">
                            <span>SUBMIT</span>
                        </button>
                    </div>
                    <div class="select-response-wrapper">
                        <div class="select-response-correct row">
                            <div class="select-response-background"></div>
                            <div class="col-xs-5 left-column-select">              
                                <div class="response-icon-wrapper">             
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.8px" height="22.801px" viewBox="58.368 58.368 22.8 22.801" enable-background="new 58.368 58.368 22.8 22.801" xml:space="preserve">
                                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="425.3076" y1="46.0552" x2="423.378" y2="48.4836" gradientTransform="matrix(6.1102 0.342 -0.342 6.1102 -2507.3147 -365.3418)">
                                            <stop  offset="0.1882" style="stop-color:#CAA04E"/>
                                            <stop  offset="0.3683" style="stop-color:#FFEBC3"/>
                                            <stop  offset="0.3952" style="stop-color:#F7DFB1"/>
                                            <stop  offset="0.5063" style="stop-color:#D7B26A"/>
                                            <stop  offset="0.5581" style="stop-color:#CAA04E"/>
                                            <stop  offset="1" style="stop-color:#F3DB7F"/>
                                        </linearGradient>
                                        <polygon fill="url(#SVGID_1_)" points="77.768,65.868 75.168,63.568 67.667,72.369 63.167,68.568 60.867,71.168 67.968,77.168 "/>
                                        <path fill="#9A7D46" d="M69.768,81.168c-6.3,0-11.4-5.1-11.4-11.4c0-6.3,5.1-11.4,11.4-11.4s11.4,5.101,11.4,11.4 C81.168,76.069,76.067,81.168,69.768,81.168z M69.768,59.368c-5.7,0-10.4,4.7-10.4,10.4c0,5.7,4.7,10.4,10.4,10.4  c5.7,0,10.4-4.7,10.4-10.4C80.168,64.068,75.468,59.368,69.768,59.368z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-xs-7 right-column-select" ng-bind-html="npDragAndDropSelect.positiveFeedback" >
                            </div>
                        </div>
                        <div class="select-response-incorrect row">
                            <div class="select-response-background"></div>
                            <div class="col-xs-5 left-column-select">
                                <div class="response-icon-wrapper">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22.8px" height="22.801px" viewBox="0 0 22.8 22.801" style="enable-background:new 0 0 22.8 22.801;" xml:space="preserve">
                                        <path style="fill:#9A7D46;" d="M11.4,22.801C5.101,22.801,0,17.7,0,11.4S5.101,0,11.4,0S22.8,5.101,22.8,11.4  S17.7,22.801,11.4,22.801z M11.4,1C5.7,1,1,5.7,1,11.4s4.7,10.4,10.4,10.4S21.8,17.101,21.8,11.4S17.101,1,11.4,1z"/>
                                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="274.4922" y1="-249.2896" x2="261.4488" y2="-262.713" gradientTransform="matrix(1 0 0 -1 -256 -245)">
                                            <stop  offset="0.1642" style="stop-color:#CAA04E"/>
                                            <stop  offset="0.1698" style="stop-color:#CCA352"/>
                                            <stop  offset="0.2532" style="stop-color:#E4C682"/>
                                            <stop  offset="0.3167" style="stop-color:#F2DCA0"/>
                                            <stop  offset="0.3527" style="stop-color:#F8E4AB"/>
                                            <stop  offset="0.4062" style="stop-color:#EBD191"/>
                                            <stop  offset="0.48" style="stop-color:#DDBC74"/>
                                            <stop  offset="0.5532" style="stop-color:#D2AC5F"/>
                                            <stop  offset="0.6249" style="stop-color:#CCA352"/>
                                            <stop  offset="0.6933" style="stop-color:#CAA04E"/>
                                            <stop  offset="0.7957" style="stop-color:#D5B05B"/>
                                            <stop  offset="0.9955" style="stop-color:#F2DA7E"/>
                                            <stop  offset="1" style="stop-color:#F3DB7F"/>
                                        </linearGradient>
                                        <polygon style="fill:url(#SVGID_1_);" points="6,19.4 11.4,14.101 16.7,19.4 19.2,16.9 13.9,11.601 19.2,6.301 16.7,3.7 11.4,9 6.101,3.7 3.601,6.301 8.9,11.601 3.5,16.9 "/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-xs-7 right-column-select" ng-bind-html="npDragAndDropSelect.negativeFeedback" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div np-component ng-if="subCmp" ng-repeat="component in components" idx="{{component.idx}}"></div>
</div>