<form class="np-cmp-wrapper {{component.type}}" ng-controller="npTriviaController as npTrivia" ng-submit="npTrivia.evaluate()">

	<div class="debug">
		<h3>{{component.type}} -- <small>{{component.idx}}</small></h3>
	</div>

	<div class="row">
		<div class="npTrivia-content h4 col-xs-12" ng-bind-html="npTrivia.content"></div>
	</div>
	
	<div class="row">
		<div class="col-md-3">
			<np-price-is-right-spinner spinTime="2000" class="col-xs-6" ng-hide="!npTrivia.pageId" data-difficulty="{{npTrivia.difficulty}}">
				<div>0</div>
			    <div>100</div>
			    <div>200</div>
			    <div>300</div>
			    <div>400</div>
			    <div>500</div>
			    <div>600</div>
			    <div>700</div>
			    <div>800</div>
			    <div>900</div>
			    <div>1000</div>
			</np-price-is-right-spinner>
		</div>

		<div class="col-md-9 np_row" np-component ng-if="subCmp" ng-repeat="component in npTrivia.seenComponents" idx="{{component.idx}}" ng-hide="npTrivia.pageId !== component.data.id"></div>

		<div class="npTrivia-feedback" ng-if="npTrivia.feedback" ng-bind-html="npTrivia.feedback"></div>
	</div>
</form>